

body {
    width: 100%;
    margin: 2em auto;
    color: #333;
    background-color: #333;
    font-family: 'Roboto', sans-serif;
}

header{
	text-align: center;
}
main{
	display: block;
	width: 100%;
}

.headerImg{
	text-align: center;
	width: 15%;
	height: 15%;
	min-height: 58px;
	min-width: 250px;
	
}
.logIn{
	padding-top: 7em;
	float:left;
	width: 100%;
}

/* Log In Form */
.form{
	width: 100%;
	float: left;
	text-align: center;
	
}
.formItem{
	margin-top: .5em;
}

.form p{
	color:red;
}
input[type=text], input[type=password]{
	border-radius: 5px;
	height: 37px;
    padding: 12px;
	margin:  12px;
    box-sizing: border-box;
	border: none;
	background-color: #E7EAEC;
}
button[type=submit]{
	width: 100px	;
	border-radius: 5px;
	height: 37px;
    border: none;
    color: #ffffff;
    padding: 12px;
    text-decoration: none;
    cursor: pointer;
    background-color: #1CAFE3;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
button[type=submit]:hover{
	width: 100px	;
	border-radius: 5px;
	height: 37px;
    border: 1px solid #1CAFE3	;
    color: #1CAFE3;
    padding: 12px;
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
}
