/********************************************************************/
/* MAIN BODY */
/********************************************************************/
body {
    width: 100%;
    color: #333;
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}
.well{
	height: 750px;
	background-color:#fff;
	border-radius:15px;
	-webkit-box-shadow: inset 0 1px 1px #fff;
	box-shadow: inset 0 1px 1px #fff;
}
.jumbotron{
	min-height: 250px;
}
.container .jumbotron, 
.container-fluid .jumbotron{
		background-color: #eee;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 1080px
}
    

.container .jumbotron, 
.container-fluid .jumbotron {
	width: 100%;
	border-radius: 0px;
	background-color: #eee;
}
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
	.row.content {
		height: auto;
	} 
}
/********************************************************************/
/* Form styles */
/********************************************************************/
.form{
	width: 100%;
	float: left;
	text-align: center;
}
.formItem{
	margin-top: .5em;
}
.form p{
	color:red;
}


input[type=text], input[type=password]{
	border-radius: 5px;
	height: 37px;
    padding: 5px;
	margin:  12px;	
    box-sizing: border-box;
	border: none;
	background-color: #E7EAEC;
}
button[type=submit]{
	width: 100px	;
	border-radius: 5px;
    border: 1px solid #1CAFE3;
    color: #ffffff;
	padding: .5em;
    text-decoration: none;
    cursor: pointer;
    background-color: #1CAFE3;
	-webkit-transition-duration: 0.6s; /* Safari */
    transition-duration: 0.6s;
}
button[type=submit]:hover{
	width: 100px	;
	border-radius: 5px;
    border: 1px solid #1CAFE3	;
    color: #1CAFE3;
    padding: .5em;
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
}
input[type=file]{
	display: inline-block;
	text-align: center;
}

/********************************************************************/
/* NAV EDITS */
/********************************************************************/
/* Set gray background color and 100% height */
.sidenav {
	background-color: #232e32;
    height: 2000px;
	color: #fafafa;
}
.nav-stacked{
	display: inline-block;
	position: fixed;
}
.navImg{
	padding-bottom:.5em;
	padding-top:.5em;
	padding-right:.5em;
	max-height: 58px;
	max-width: 250px;
}
.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover{
	background-color: #38474e;	
	border-radius: 5px;
	width: 100%;
}
.nav-pills>li.logOut>a, 
.nav-pills>li.logOut>a:focus, 
.nav-pills>li.logOut>a:hover{
	background-color: #503534;	
	border-radius: 5px;
	width: 100%;
}
.navbar-inverse .navbar-nav>.logOut>a, 
.navbar-inverse .navbar-nav>.logOut>a:focus, 
.navbar-inverse .navbar-nav>.logOut>a:hover{
	color: #503534;
}
.navbar-inverse .navbar-nav>li>a{
	color: #fafafa;
}
.nav a{
	color: #fafafa;
}
.nav a:hover{
	background-color: #232e32;
}
.nav>li>a:focus, .nav>li>a:hover{
	background-color: #202b30;
	color: #fafafa;
}
/********************************************************************/
/* MAIN LINKS */
/********************************************************************/
a{
	color: #333;
	text-decoration: none;
}
a:hover{
	color: #333;
	text-decoration: none;
}