/*Main Body*/
body {
    width: 100%;
    color: #333;
    background-color: #eef;
    font-family: 'Roboto', sans-serif;
}
.centerImg{
	text-align: center;
	margin: 2em;
}
.logInImg{
	text-align: center;
	width: 15%;
	height: 15%;
	min-height: 200px;
	min-width: 200px;
}
.well{
	height: 300px;
	background-color:#fff;
	border-radius:1px;
	-webkit-box-shadow: inset 0 1px 1px #fff;
	box-shadow: inset 0 1px 1px #fff;
}

/* Webshop login form */
.form{
	width: 100%;
	float: left;
	text-align: center;	
}

.form p{
	color:red;
}
input[type=text], input[type=password]{
	border-radius: 2px;
	height: 35px;
    padding: 6px;
	margin:  7px;
	margin-left: auto;
    box-sizing: border-box;
	border: 1px solid #d3d3d3;
	background-color: #e4e3e4;
}
button[type=submit]{
	width: 100px	;
	border-radius: 2px;
    border: 1px solid #008000;
    color: #ffffff;
	padding: .5em;
    text-decoration: none;
    cursor: pointer;
    background-color: #008000;
	-webkit-transition-duration: 0.6s; /* for Safari browser */
    transition-duration: 0.6s;
}
button[type=submit]:hover{
	width: 100px	;
	border-radius: 2px;
    border: 1px solid #008000	;
    color: #008000;
    padding: .5em;
    text-decoration: none;
    cursor: pointer;
    background-color: #fff;
}



	
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
	.row.content {
		height: auto;
	} 
}